/*
CSS for Joel Site
*/

body {
  background-image: url(images/Arrivalbckgrnd.jpg);
}

#audio {
  filter: sepia(20%) saturate(30%) contrast(50%) invert(12%);
  color: #ffffcc;
  border-radius: 25px;
  color: none;
  width: 8rem;
  height: 20px;
  margin-top: 0.5rem;
  /* display: inline-block; */
  float: right;
  color: transparent;
}

audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
  background-color: rgb(245, 245, 247);
}
h1,
h2,
h3,
h4,
h5,
em,
i,
#award {
  color: #ffffcc;
}

#award {
  font-size: 80%;
}

#Carousel {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: 3rem;
}

.nav-link {
  padding: 10px 20px;
  /* text-transform: uppercase; */
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  /* border: 1px solid #ffffff80; */
  transition: 0.5s ease;
  user-select: none;
}

.dropdown-item {
  padding: 10px 20px;
  /* text-transform: uppercase; */
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  /* border: 1px solid #ffffff80; */
  transition: 0.5s ease;
  user-select: none;
}
.nav-link:hover,
.dropdown-item:hover,
.navbar-brand:hover,
:focus {
  color: #ffffff;
  background: #2127d4;
  border: 1px solid #2127d4;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px#2127d4, 0 0 20px #2127d4, 0 0 50px #2127d4,
    0 0 100px #008cff;
}
.thumbnail:hover {
  background-color: red;
  cursor: pointer;
}

hr {
  background-color: white;
  width: 100%;
}

.message {
  /* margin-top: 300px; */
  font-size: small;
  color: #cc0033;
  font-style: bold;
}

.imgContainer {
  columns: 200px;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* img {
    padding-bottom: 5px;
  } */

.horizAdjust,
.horizAdjust-left {
  border: 1px solid rgb(221, 221, 221);
  /* border-radius: 4px; */
  /* padding: 5px; */

  width: 100%;
  /* height: auto; */
  animation-name: moveInRight;
  animation-duration: 5s;
  will-change: transform;
  object-fit: cover;
  margin-bottom: 1em;
}

.height-adjust {
  width: 100%;
  height: 25rem;
  margin-bottom: 1em;
}

.horizAdjust {
  animation-name: moveInRight;
}

.horizAdjust-left,
.height-adjust {
  animation-name: moveInLeft;
}

.horizAdjust:hover,
.horizAdjust-left:hover,
height-adjust:hover {
  filter: brightness(0.6);
  animation-duration: 0s;
}

.horizAdjust:active,
.horizAdjust-left:active,
height-adjust:active {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(49, 195, 214, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(49, 195, 214, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(49, 195, 214, 0.9);
}

.card {
  width: 100%;
  background: 0, 0, 0, 0;
  color: #ffffcc;
  font-weight: bold;
}

.card-body {
  margin-bottom: 20px;
  position: relative;
}

.card-body {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  position: relative;
}
.card-text {
  animation: fade-in linear;
  animation-timeline: view(50px);
}
/* #bio {
  animation: fade-in linear;
  animation-timeline: view(250px);
  animation-range-start: cover;
  animation-range-end: contain;
} */

/* @keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0.5;
  }
  to {
    scale: 1;
    opacity: 1;
  }
} */

/* @keyframes mymove {
  to {
    scale: 1 1;
  }
} */

.card-text {
  /* background-image: url(images/Beacon_Detail2.jpg); */
  z-index: 1;
  padding-bottom: 1rem;
  opacity: 0.8;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  float: none;
  animation: fadeInAnimation linear;
  animation-timeline: view(0.5s);
}

#bio {
  margin-top: 1rem;

  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translate(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translate(0px) scale(1);
  }
}

.lower {
  margin: 70%;
  color: black;
}

#header {
  background-repeat: no-repeat;
  width: 70rem;
}

#portrait {
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid white;
}

#homeNotice {
  /* color: #ffffcc; */
  margin-top: 1rem;
  text-align: center;

  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.dropdown-menu {
  background-color: rgb(0, 0, 0, 0.1);
}

#title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-family: "Jacques Francois Shadow", cursive;
  z-index: 1;
}
li {
  margin-left: 2rem;
}
.hidden {
  opacity: 0;
  filter: blur(10px);
  /* transform: translateX(-100%); */
  transition: all 3s;
  /* background-image: url("../violin_subtract.png"); */
  transform: scale(0.75);
}
@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
