/*
CSS for Joel Site
*/

.navbar {
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 20px; */
}

body  {
  background-image: url(images/Arrivalbckgrnd.jpg);
}

audio {
  filter: sepia(20%) saturate(30%) grayscale(1) contrast(50%) invert(12%);
  width: 100px;
  height: 20px;
 
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: rgb(245, 245, 247);
}
h1,
h2,
h3,
h4, em, i, #award {
  color: #ffffcc;
}

#award {
  font-size: 80%;
}

#Carousel {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  margin-top: 20px;
}

.thumbnail:hover {
  background-color: red;
  cursor:pointer;
}

hr {
  background-color: white;
  width: 100%;
}

.message {
  margin-top: 300px;
  font-size: small;
  color: #cc0033;
  font-style: bold;
}

.imgContainer {
  padding-bottom: 20px;
}

/* img {
  padding-bottom: 5px;
} */

.horizAdjust {
  border: 1px solid rgb(221, 221, 221);
  /* border-radius: 4px; */
  /* padding: 5px; */
  margin: 2%;
  width: 125px;
  height: 125px;
}

.card {
  width: 100%;
  background: 0, 0, 0, 0;
  color: #ffffcc;
  font-weight: bold;
}

.card-body {
  margin-bottom: 20px;
  position: relative;
}

.card-text {
  background-image: url(images/Beacon_Detail2.jpg);
  z-index: 1;
  padding: 20px;
  opacity: 0.8;
  margin-bottom: 30px;
  text-align: center;
  float: none;
  margin-top: -250px;
}

#bioBackgroundImg {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  position: relative;
}

.lower {
  margin: 70%;
  color: black;
}

#header {
  background-repeat: no-repeat;
  width: 70rem;
}

#portrait {
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid white;
}

#homeNotice {
  /* color: #ffffcc; */
  margin-top: 30px;
  text-align: center;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}