/*
CSS for Joel Site
*/


.navbar {
  margin-left: auto;
  /* background-image: url(images/Arrivalbckgrnd.jpg); */
  margin-right: auto;
  margin-bottom: 20px;
}

body {
  background-image: url(images/Arrivalbckgrnd.jpg);
}

h1 {
  color: #ffffcc;
}

h2,
h3 {
  color: #ffffcc;
}

h4 {
  color: #cc0044;
}

i {
  color: #ffff99;
}

#Carousel {
  width: 75%;
  margin-right: auto;
  margin-left: auto;

  /* transform: translate(-25%, 10);
		-ms-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
 */
}

nav {
  margin-top: 20px;
}


.thumbnail:hover {
  background-color: red;
}

hr {
  background-color: white;
  width: 100%;
}

.message {
  margin-top: 300px;
  font-size: small;
  color: #CC0033;
  font-style: bold;
}

#informationbar {
  position: fixed;
  left: 0;
  width: 100%;
  text-indent: 20px;
  padding: 5px 0;
  background-color: lightyellow;
  border-bottom: 1px solid black;
  font: bold 14px Verdana;
}

* html #informationbar {
  /*IE6 hack*/
  position: absolute;
  /* width: expression(document.compatMode=="CSS1Compat"? document.documentElement.clientWidth+"px" : body.clientWidth+"px"); */
}

.imgContainer {
  padding-bottom: 20px;
}

img {
  padding-bottom: 5px;
}

.vertAdjust {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 3px;
}

.horizAdjust {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 3px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background: 0, 0, 0, 0;
  color: #ffffcc;
  font-weight: bold;
}

.card-body {
  margin-bottom: 20px;
}


.lower {
  margin: 70%;
  color: black;
}

#header {
  background-image: url(images/MorningVistaHoriz2.png);
  background-repeat: no-repeat;
  width: 70rem;
}

#portrait {
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid white;
}