/*
CSS for Joel Site
*/

.navbar {
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 20px; */
}

body {
  background-image: url(images/Arrivalbckgrnd.jpg);
}

h1,
h2,
h3,
h4 {
  color: #ffffcc;
}

em,
i {
  color: #ffffcc;
}

#Carousel {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

nav {
  margin-top: 20px;
}

.thumbnail:hover {
  background-color: red;
}

hr {
  background-color: white;
  width: 100%;
}

.message {
  margin-top: 300px;
  font-size: small;
  color: #cc0033;
  font-style: bold;
}

#informationbar {
  position: fixed;
  left: 0;
  width: 100%;
  text-indent: 20px;
  padding: 5px 0;
  background-color: lightyellow;
  border-bottom: 1px solid black;
  font: bold 14px Verdana;
}

* html #informationbar {
  /*IE6 hack*/
  position: absolute;
  /* width: expression(document.compatMode=="CSS1Compat"? document.documentElement.clientWidth+"px" : body.clientWidth+"px"); */
}

.imgContainer {
  padding-bottom: 20px;
}

img {
  padding-bottom: 5px;
}

.horizAdjust {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 3px;
}

.card {
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  background: 0, 0, 0, 0;
  color: #ffffcc;
  font-weight: bold;
  background-image: url(images\MorningVistaHoriz2.png);
}

.card-body {
  margin-bottom: 20px;
  position: relative;
}

.card-text {
  background-image: url(images/Beacon_Detail2.jpg);
  z-index: 1;
  padding: 20px;
  opacity: 0.8;
  margin-bottom: 30px;
  text-align: center;
  float: none;
}

#bioBackgroundImg {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  background-image: url(images\MorningVistaHoriz2.png);
}

.lower {
  margin: 70%;
  color: black;
}

#header {
  background-image: url(images/MorningVistaHoriz2.png);
  background-repeat: no-repeat;
  width: 70rem;
}

#portrait {
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid white;
}

#homeNotice {
  /* color: #ffffcc; */
  margin-top: 30px;
  text-align: center;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}